@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");

* {
  box-sizing: border-box;
}

body {
  background-color: #F1F1F1;
  font-family: 'Lato', sans-serif;
  height: auto;
  margin: 0;
  width: 100%;
  background-image: url(../img/fondo-mobile.png);
  background-repeat: repeat;
}

ul, ol {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

a{
  text-decoration: none;

}

/* Container */
.container-ppal {
  max-width: 540px;
  margin: 0 auto;
}

/* Header */
header {
	width: 100%;
	margin-bottom: 20px;
  font-size: 1em;
}

.main-nav{
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
  }

.main-nav .nav-profile-ico{
  position: absolute;
  top: 25px;
  left: 25px;
}

.main-nav .toggle-nav{
  position: absolute;
  top: 15px;
  right: 15px;
}

.nav-profile-ico a{
  vertical-align: middle;
  padding: 4px 3px;
  color: black;

}

.material-icons{
  color: black;
  font-size: 2em;
}

.nav-profile {
  display: none;
}

ul .nav-profile {
  display: none;
}

.nav-access li{
  display: none;
}

.toggle-nav{
  transform: scale(1.2);
  color: black;
}

.container-section{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
  }

.h1-index{
  font-size: 2em;
  font-weight: bold;
  color: #707070;
  margin: 30% 0 5% 0;
}

.sub-ppal{
  color: #B3B3B3;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 10%;
}

.sub-ppal a{
  color: #8F93F5;
}

.image-mobile{
  display: flex;
}

.image-mobile img{
  width: 90%;
  margin: auto;
}

.image-t-desktop{
  display: none;
}


.button-play{
  background-color: #8F93F5;
  width: 100px;
  border-radius: 10px;
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 10%;
  }

.button-play a{
  color: white;
  vertical-align: middle;
  padding-bottom: 5px;
}

.container-about {
  background-color: #6A6FF7;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  margin-top: 10%;
}

.h2-about{
  color: white;
  font-weight: bold;
  font-size: 2em;
  margin-top: 3%;
  text-align: center;
}

.carrousel-mobile{
  width: 100vw;
  height: 60vh;
  display: block;
}

.carrousel-tablet-desktop{
  display: none
}

/* FAQ's */
.containerFAQ{
  display: block;
}

.containerPreguntas{
  background-color: #CDE9FF;
  border: solid 8px #6A6FF7;
  border-radius: 25px;
  width: 90vw;
  margin: 0 auto;
  position: relative;
  top: 40px;
}

.containerPreguntas h1,
.containerPreguntas li{
  color: black;
  margin: auto;
  margin-top: 1%;
  padding-left: 2vw;
  padding-right: 2vw;
}

.buscador{
  position: relative;
  top: 15px;
  left: 10px;
  width: 60vw;
}

.buscadorEnviar{
  position: relative;
  top: 15px;
  width: 25vw;
}
/*final FAQ's*/

.tituloJuego{
  margin: auto;
  }

.subitituloJuego{
    margin: auto;
  }

.login{
  display:flex;
}

/* Inicio Ranking Mobile*/

.bootstrap .blank-wrapper {
  background-color: white;
  width: 100vw;
  box-sizing: border-box;
  padding: 20px !important;
  margin: 0;
  height: auto;
  margin-top: 30px;
  margin-bottom: 100px !important;
}

.bootstrap h1 {
  text-align: center;
}

div.container.bootstrap {
  max-width: 1140px;
}
.bootstrap .respuestaGrupo {
  display: inline-block !important;
  text-align: center !important;
}
.bootstrap .respuestaGrupo label {
  display: block !important;
}
.bootstrap .search {
  background: lightgray;
  border-radius: 20px;
  border: none;
  height: 35px;
}
.bootstrap .titulo-seccion {
  color: #707070;
}
.bootstrap .agregar {
  background: #8F93F5;
  color: white;
  font-weight: bold;
  height: 35px;
  width: 35px;
}
.bootstrap .search-container {
  padding: 0;
  margin: 0;
  height: 35px;
}
.bootstrap .input-search {
  border: none;
  background: none;
  height: 35px;
  font-size: 18px;
  width: 500px;
}
.bootstrap .input-search:hover, .input-search:focus {
  background: none;
  border: none;
  box-shadow: none;
}
.bootstrap .search-row {
  padding-bottom: 50px;
}
.bootstrap .rating {
  float:left;
}
.bootstrap .rating {
  float:left;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:0.9em;
  line-height: auto;
  color:#A8A8A8;
}

.bootstrap .rating>i.estrellita {
  color:#A8A8A8 !important;
}

.bootstrap i.estrellita.active {
  color:#FFD37A !important;
}

.bootstrap .puntaje {
  text-align: right;
  color: #707070;
  font-weight: bolder;
}
.bootstrap .puntaje p {
  font-weight: bold;
  line-height: auto;
  font-size:1.3em;
}
.bootstrap .user-data {
  align-self: center;
}
.bootstrap .user-img {
  margin: 10px auto;
  padding: 15px;
  align-self: center;
}
.bootstrap .light-green {
  background-color: #A2FDC6;
}
/* Final Ranking mobile */

/* Inicio Ranking desktop*/
@media (min-width:768px) {
  .bootstrap .blank-wrapper {
    width: 900px;
    margin: 100px auto;
    border-radius: 40px;
    padding: 40px !important;
  }
  .bootstrap .user-img {
    margin: 20px;
  }
  .bootstrap .titulo-seccion {
    margin: 50px auto;
  }

}
/* Final Ranking desktop */


@media (min-width:640px) {

body{
  background-image: url(../img/fondo.png);
  background-repeat: repeat;
}

  .container-ppal {
    max-width: 800px;
    margin:0 auto;
}

  .container-section{
    justify-content:center;
    }


  .main-nav .nav-profile{
    position: absolute;
    top: 20px;
    left: 15px;
  }

  .main-nav .nav-access{
    position: absolute;
    top: 20px;
    right: 15px;
  }

  .nav-profile{
    display: inline-flex;
    width:120px;
    background-color: #E2E2E2;
    border-radius: 20px;
    }

  .nav-profile a{
    color: black;
    font-weight: bold;
    vertical-align: middle;
  }

  .material-icons{
    color: black;
    padding: 4px 3px;
    vertical-align: middle;
  }

  .toggle-nav{
      display: none;
    }

  .nav-access ul{
    display: inline-flex;
    justify-content: flex-end;
  }

  .nav-access li{
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 120px;
    border-radius: 20px;
    background-color: #E2E2E2;
    vertical-align: middle;
  }

  .nav-access a{
    color: black;
    font-weight: bold;
    padding: 7px 20px;
  }

  .h1-index{
    margin:0 0 1% 0;
  }

  .sub-ppal{
    margin-bottom: 1%;
  }

  .button-play{
    margin-top: 1%;
    }

    .image-t-desktop{
      display: flex;
      margin: 0 auto;
      width: 100%;
      align-items: center;
     }

    .image-t-desktop img{
      width: 90vw;
      margin: 0 auto;
    }

      .image-mobile{
      display:none;
      }


  .container-about {
    margin-top: 0;
    }

  .carrousel-mobile{
    display: none
  }

  .carrousel-tablet-desktop{
    display: flex;
    width: 90vw;
  }

/* FAQ's*/
  .containerPreguntas{
    background-color: #6A6FF7;
    border-color: #CDE9FF;
  }

  .buscador{
    height: 50px;
    width: 75vw;
    font-size: 30px;
  }

  .buscadorEnviar{
    height: 50px;
    width: 12vw;
    top: 9px;
  }

/* Final FAQ's*/

}

@media (min-width:1025px) {

  .container-ppal {
    max-width: 1200px;
    margin:0 auto;
}

  .container-section{
    justify-content:center;
    }

  .carrousel-tablet-desktop{
    display: flex;
    width: 50vw;
    }

    .image-t-desktop img{
      width: 50vw;
    }



  }
