@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");

* {
  box-sizing: border-box;
}

body {
  background-color: #F1F1F1;
  font-family: 'Lato', sans-serif;
  height: auto;
  margin: 0;
  width: 100%;
}

ul, ol {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a{
  text-decoration: none;

}

/* Container */
.container {
  max-width: 540px;
  margin:0 auto;
}

/* Header */
header {
  width: 100%;
  margin-bottom: 20px;
  font-size: 1em;
}

.main-nav{
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
}

.main-nav .nav-profile-ico{
  position: absolute;
  top: 25px;
  left: 25px;
}

.main-nav .toggle-nav{
  position: absolute;
  top: 10px;
  right: 15px;
}

.nav-profile-ico a{
  vertical-align: middle;
  padding: 4px 3px;
  color: black;

}

.material-icons{
  color: black;
  font-size: 2em;
}

.nav-profile {
  display: none;
}

ul .nav-profile {
  display: none;
}

.nav-access li{
  display: none;
}

.toggle-nav{
  transform: scale(1.2);
  color: black;
}

.container-section{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
}

h1{
  font-size: 2em;
  font-weight: bold;
  color: #707070;
  margin: 30% 0 5% 0;
}

.sub-ppal{
  color: #B3B3B3;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 10%;
}

.sub-ppal a{
  color: #8F93F5;
}

.image-mobile{
  width: 100%;
  margin: 0;
}

.image-mobile img{
  width: 100%;
  margin: 0 10px;
}

.image-t-desktop{
  display: none;
}


.button-play{
  background-color: #8F93F5;
  width: 100px;
  border-radius: 10px;
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.button-play a{
  color: white;
  vertical-align: middle;
  padding-bottom: 5px;
}

.container-about {
  background-color: #6A6FF7;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  margin-top: 10%;
}

.h2-about{
  color: white;
  font-weight: bold;
  font-size: 2em;
  margin-top: 3%;
  text-align: center;
}

.carrousel-mobile{
  width: 100vw;
  height: 60vh;
  display: block;
}

.carrousel-tablet-desktop{
  display: none
}

/* FAQ's */
.containerFAQ{
  display: block;
}

.containerPreguntas{
  background-color: #CDE9FF;
  border: solid 8px #6A6FF7;
  border-radius: 25px;
  width: 90vw;
  margin: 0 auto;
  position: relative;
  top: 40px;
}

.containerPreguntas h1,
.containerPreguntas li{
  color: black;
  margin: auto;
  margin-top: 1%;
  padding-left: 2vw;
  padding-right: 2vw;
}

.buscador{
  position: relative;
  top: 15px;
  left: 10px;
  width: 60vw;
}

.buscadorEnviar{
  position: relative;
  top: 15px;
  width: 25vw;
}
/*final FAQ's*/

.tituloJuego{
  margin: auto;
}

.subitituloJuego{
  margin: auto;
}

.login{
  display:flex;
}

/* Inicio Ranking Mobile*/

.blank-wrapper {
  background-color: white;
  width: 100vw;
  box-sizing: border-box;
  padding: 20px !important;
  margin: 0;
  height: auto;
  margin-top: 30px;
  margin-bottom: 100px !important;
}

.bootstrap h1 {
  text-align: center;
}

div.container.bootstrap {
  max-width: 1140px;
}

.titulo-seccion {
  color: #707070;
}

.rating {
  float:left;
}
.rating {
  float:left;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:0.9em;
  line-height: auto;
  color:#A8A8A8;
}

.rating>i.estrellita {
  color:#A8A8A8 !important;
}

i.estrellita.active {
  color:#FFD37A !important;
}

.puntaje {
  text-align: right;
  color: #707070;
  font-weight: bolder;
}
.puntaje p {
  font-weight: bold;
  line-height: auto;
  font-size:1.3em;
}
.user-data {
  align-self: center;
}
.user-img {
  margin: 10px auto;
  padding: 15px;
  align-self: center;
}
.light-green {
  background-color: #A2FDC6;
}
/* Final Ranking mobile */

/* Inicio questions admin*/

h5.bootstrap {
  margin: 15px auto;
}
.respuestaGrupo {
  text-align: center !important;
  padding: 0;
}
.respuestaGrupo label {
  display: block !important;
}
.search {
  background: #F1F1F1;
  border-radius: 20px;
  border: none;
  height: 35px;
}
.agregar {
  background: #8F93F5;
  color: white;
  font-weight: bold;
  height: 35px;
  width: 35px;
}
.search-container {
  padding: 0;
  margin: 0;
  height: 35px;
}
.input-search {
  border: none;
  background: none;
  height: 35px;
  font-size: 18px;
}
.input-search:hover, .input-search:focus {
  background: none;
  border: none;
  box-shadow: none;
}

.celeste {
  background-color: #CDE9FF;
  font-weight: bold;
  margin: 5px 0px;
}

/* Final questions admin*/


/* Inicio Ranking desktop*/
@media (min-width:768px) {
  .input-search {
    width: 500px;
  }
  .respuestaGrupo {
    display: inline-block !important;
    padding: 20px !important;
  }
  .blank-wrapper {
    margin-top: 100px;
    width: 900px;
    margin: 100px auto;
    border-radius: 40px;
    padding: 40px !important;
  }
  .user-img {
    margin: 20px;
  }
  .titulo-seccion {
    margin: 50px auto;
  }
}
/* Final Ranking desktop */


@media (min-width:640px) {

  .container-section{
    justify-content:center;
  }


  .main-nav .nav-profile{
    position: absolute;
    top: 20px;
    left: 15px;
  }

  .main-nav .nav-access{
    position: absolute;
    top: 20px;
    right: 15px;
  }

  .nav-profile{
    display: inline-flex;
    width:120px;
    background-color: #E2E2E2;
    border-radius: 20px;
  }

  .nav-profile a{
    color: black;
    font-weight: bold;
    vertical-align: middle;
  }

  .material-icons{
    color: black;
    padding: 4px 3px;
    vertical-align: middle;
  }

  .toggle-nav{
    display: none;
  }

  .nav-access ul{
    display: inline-flex;
    justify-content: flex-end;
  }

  .nav-access li{
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 120px;
    border-radius: 20px;
    background-color: #E2E2E2;
    vertical-align: middle;
  }

  .nav-access a{
    color: black;
    font-weight: bold;
    padding: 7px 20px;
  }

  h1{
    margin:0 0 5% 0;
  }

  .sub-ppal{
    margin-bottom: 5%;
  }

  .button-play{
    margin-top: 5%;
  }

  .image-mobile{
    display: block;
  }

  .image-t-desktop{
    display: none;
  }

  .image-t-desktop img{
    margin: 0 100px;
    width: 100%;
  }

  .container-about {
    margin-top: 0;
  }

  .carrousel-mobile{
    display: none
  }

  .carrousel-tablet-desktop{
    display: block;
    width: 90vw;
  }
}
/* FAQ's*/
.containerPreguntas{
  background-color: #6A6FF7;
  border-color: #CDE9FF;
}

.buscador{
  height: 50px;
  width: 75vw;
  font-size: 30px;
}

.buscadorEnviar{
  height: 50px;
  width: 12vw;
  top: 9px;
}

/* Final FAQ's*/

}

@media (min-width:1024px) {

  .container-section{
    justify-content:center;
  }

  .carrousel-tablet-desktop{
    display: block;
    width: 60vw;
  }

}
